In [36]:
import pandas as pd
import json

In [37]:
CONFIG_FOLDER = 'config/'
id_label_file = 'id_2_label.json'
lable_2_id_file = 'label2_2_id.json'
train_file = 'data/tacred/data/json/train.json'

In [38]:
with open(train_file) as infile:
    json_data = json.load(infile)
len(json_data)

68124

In [39]:
train_df = pd.DataFrame(json_data )
train_df_sorted = train_df.sort_values(by=['docid','id'], ascending = True)
label_list = train_df_sorted['relation'].unique()

label_to_ids_map =  {label: i for i, label in enumerate(label_list)}
ids_to_labels_map = {i: label for i, label in enumerate(label_list)}

print(label_to_ids_map['org:subsidiaries'], ids_to_labels_map[1], label_list)

7 org:top_members/employees ['no_relation' 'org:top_members/employees' 'per:origin' 'per:title'
 'per:countries_of_residence' 'per:siblings' 'org:alternate_names'
 'org:subsidiaries' 'org:political/religious_affiliation'
 'per:employee_of' 'per:date_of_death' 'per:age' 'org:founded'
 'org:member_of' 'org:shareholders' 'org:founded_by'
 'per:cities_of_residence' 'per:city_of_death' 'per:children'
 'per:charges' 'per:schools_attended' 'per:spouse'
 'org:country_of_headquarters' 'org:dissolved'
 'per:stateorprovince_of_birth' 'per:other_family'
 'per:stateorprovince_of_death' 'org:city_of_headquarters'
 'org:stateorprovince_of_headquarters' 'per:religion' 'per:date_of_birth'
 'per:cause_of_death' 'org:members' 'org:parents' 'per:country_of_birth'
 'per:parents' 'per:city_of_birth' 'per:stateorprovinces_of_residence'
 'per:alternate_names' 'org:website' 'org:number_of_employees/members'
 'per:country_of_death']

In [40]:
with open(CONFIG_FOLDER + id_label_file, 'w') as outfile:
    json.dump(ids_to_labels_map, outfile)
    
with open(CONFIG_FOLDER + lable_2_id_file, 'w') as outfile:
    json.dump(label_to_ids_map, outfile)

In [41]:
test_file = 'data/tacred/data/json/test.json'
with open(test_file) as infile:
    json_data = json.load(infile)
len(json_data)

15509

In [42]:
test_df = pd.DataFrame(json_data )
test_df_sorted = train_df.sort_values(by=['docid','id'], ascending = True)
test_df_sorted.head(5)

,id,docid,relation,token,subj_start,subj_end,obj_start,obj_end,subj_type,obj_type,stanford_pos,stanford_ner,stanford_head,stanford_deprel
42795,61b3a65fb960f284ebac,03c67d9ee4bf4ed33cbeddaa3a7b82cc,no_relation,"[Red, Sox, 12, ,, Athletics, 2]",0,1,4,4,ORGANIZATION,ORGANIZATION,"[NNP, NNP, CD, ,, NNP, CD]","[ORGANIZATION, ORGANIZATION, NUMBER, O, ORGANI...","[2, 0, 2, 2, 2, 5]","[compound, ROOT, nummod, punct, appos, nummod]"
46757,61b3a65fb9080a05b4ee,15df2fc6a9a895432237cb2bdfcbd1b5,no_relation,"[Thomas, ', assertion, of, 85, %, reporters, v...",41,43,31,31,ORGANIZATION,DATE,"[NNP, POS, NN, IN, CD, NN, NNS, VBP, JJ, VBZ, ...","[PERSON, O, O, O, PERCENT, PERCENT, O, O, MISC...","[3, 1, 8, 7, 6, 7, 3, 0, 12, 12, 12, 8, 12, 18...","[nmod:poss, case, nsubj, case, compound, amod,..."
36591,61b3a65fb9883fc52f01,274e368f381c1476fe0da7f201bfc331,no_relation,"[Kerry, did, his, duty, and, did, it, well, .]",2,2,0,0,PERSON,PERSON,"[NNP, VBD, PRP$, NN, CC, VBD, PRP, RB, .]","[PERSON, O, O, O, O, O, O, O, O]","[2, 0, 4, 2, 2, 2, 6, 6, 2]","[nsubj, ROOT, nmod:poss, dobj, cc, conj, dobj,..."
22262,61b3a65fb937b50fc05a,409fa10efff702a41701bdddab89a2dd,no_relation,"[This, August, ,, Moschella, 's, name, came, u...",17,20,39,40,ORGANIZATION,STATE_OR_PROVINCE,"[DT, NNP, ,, NNP, POS, NN, VBD, RP, IN, DT, NN...","[DATE, DATE, O, PERSON, O, O, O, O, O, O, O, O...","[2, 0, 2, 6, 4, 7, 2, 7, 11, 11, 7, 15, 15, 15...","[det, ROOT, punct, nmod:poss, case, nsubj, acl..."
644,61b3a5f2e85a8088c7bb,78d7e406b6911492f6f7f122d1f112ad,org:top_members/employees,"[Sharpton, is, president, of, the, National, A...",5,7,0,0,ORGANIZATION,PERSON,"[NNP, VBZ, NN, IN, DT, NNP, NNP, NNP, .]","[PERSON, O, O, O, O, ORGANIZATION, ORGANIZATIO...","[3, 3, 0, 8, 8, 8, 8, 3, 3]","[nsubj, cop, ROOT, case, det, compound, compou..."

In [43]:
def to_label_id(series):
    return label_to_ids_map[series]

# def concat_sent(series):
#     return " ".join(series)

def concat_sent2(token,subj_start,subj_end, obj_start, obj_end):
    if (subj_start < obj_start):
        span1_before = " ".join(token[:subj_start])
        span1 = " SUBJ_B " + " ".join(token[subj_start:subj_end +1]) + " SUBJ_E " 
        span2_before = " ".join(token[subj_end+1:obj_start])
        span2 = " OBJ_B " + " ".join(token[obj_start:obj_end +1]) + " OBJ_E " 
        span2_after = " ".join(token[obj_end +1: len(token)])
    else:
        span1_before = " ".join(token[:obj_start])
        span1 = " OBJ_B " + " ".join(token[obj_start: obj_end +1]) + " OBJ_E " 
        span2_before = " ".join(token[obj_end+1:subj_start])
        span2 = " SUBJ_B " + " ".join(token[subj_start:subj_end +1]) + " SUBJ_B " 
        span2_after = " ".join(token[subj_end +1: len(token)])
        
    return (span1_before + span1 +  span2_before + span2 + span2_after)

train_df["bert_text"] = train_df.apply(lambda row: concat_sent2(row.token, row.subj_start, row.subj_end, row.obj_start, row.obj_end), axis =1)

train_df_bert = pd.DataFrame({
    'id':range(len(train_df)),
    'label': train_df['relation'].apply(to_label_id),
    'alpha':['a']*train_df.shape[0],
    'text': train_df['bert_text']
})

train_df_bert

          id  label alpha                                               text
0          0     15     a   OBJ_B Tom Thabane OBJ_E resigned in October l...
1          1      0     a  In 1983 , a year after the rally , SUBJ_B Fors...
2          2      0     a  This was among a batch of paperback OBJ_B Oxfo...
3          3      0     a  The latest investigation was authorized after ...
4          4      0     a  The event is a response to a White House immig...
...      ...    ...   ...                                                ...
68119  68119      0     a  Both the SUBJ_B United National Congress SUBJ_...
68120  68120     15     a   OBJ_B Saeed OBJ_E has run a Muslim charity th...
68121  68121      9     a  As in years past , official Washington fretted...
68122  68122      3     a  Sea Shepherd anti-whaling group OBJ_B founder ...
68123  68123      0     a  Brand : Cartier Watches -LRB- http://www.whole...

[68124 rows x 4 columns]

In [44]:
test_df["bert_text"] = test_df.apply(lambda row: concat_sent2(row.token, row.subj_start, row.subj_end, row.obj_start, row.obj_end), axis =1)

dev_df_bert = pd.DataFrame({
    'id':range(len(test_df)),
    'label': test_df['relation'].apply(to_label_id),
    'alpha':['a']*test_df.shape[0],
    'text': test_df['bert_text'] })

dev_df_bert.head()

   id  label alpha                                               text
0   0      0     a  He has served as a policy aide to the late U.S...
1   1      0     a  Messina Denaro has been trying to impose SUBJ_...
2   2      0     a   SUBJ_B Eugenio Vagni SUBJ_E , the Italian wor...
3   3      0     a  With his perfect English and British education...
4   4      0     a  Twenty percent of those surveyed in 10 countri...

In [45]:
train_df_bert.to_csv('data/train.tsv', sep='\t', index=False, header=False)

In [46]:
dev_df_bert.to_csv('data/dev.tsv', sep='\t', index=False, header=False)

In [47]:
x = ['Red','Sox','12',',,', 'Athletics','Fantastic', 'Players'] 
x[0:2], x[4:5], x[5:len(x)]

(['Red', 'Sox'], ['Athletics'], ['Fantastic', 'Players'])