In [54]:
import pandas as pd
import json

In [55]:
train_file = 'data/tacred/data/json/train.json'
with open(train_file) as infile:
    json_data = json.load(infile)
len(json_data)

68124

In [63]:
train_df = pd.DataFrame(json_data )
train_df_sorted = train_df.sort_values(by=['docid','id'], ascending = True)
label_list = train_df_sorted['relation'].unique()

label_to_ids_map =  {label: i for i, label in enumerate(label_list)}
ids_to_labels_map = {i: label for i, label in enumerate(label_list)}

print(label_to_ids_map['org:subsidiaries'], ids_to_labels_map[1], label)

1 org:subsidiaries ['no_relation' 'org:subsidiaries' 'org:city_of_headquarters' 'per:title'
 'per:origin' 'per:employee_of' 'org:top_members/employees'
 'org:alternate_names' 'org:shareholders' 'org:country_of_headquarters'
 'per:countries_of_residence' 'per:date_of_death'
 'per:cities_of_residence' 'per:city_of_death' 'per:age' 'org:founded_by'
 'org:parents' 'org:member_of' 'per:stateorprovinces_of_residence'
 'per:religion' 'org:founded' 'org:stateorprovince_of_headquarters'
 'per:alternate_names' 'per:siblings' 'per:charges'
 'org:number_of_employees/members' 'per:stateorprovince_of_death'
 'org:members' 'per:cause_of_death' 'per:parents' 'per:other_family'
 'per:schools_attended' 'per:children' 'per:spouse' 'per:country_of_birth'
 'org:political/religious_affiliation' 'per:country_of_death'
 'per:date_of_birth' 'per:city_of_birth' 'org:website' 'org:dissolved'
 'per:stateorprovince_of_birth']

In [57]:
test_file = 'data/tacred/data/json/test.json'
with open(test_file) as infile:
    json_data = json.load(infile)
len(json_data)

15509

In [58]:
test_df = pd.DataFrame(json_data )
test_df_sorted = train_df.sort_values(by=['docid','id'], ascending = True)
test_df_sorted.head(5)

,id,docid,relation,token,subj_start,subj_end,obj_start,obj_end,subj_type,obj_type,stanford_pos,stanford_ner,stanford_head,stanford_deprel
42795,61b3a65fb960f284ebac,03c67d9ee4bf4ed33cbeddaa3a7b82cc,no_relation,"[Red, Sox, 12, ,, Athletics, 2]",0,1,4,4,ORGANIZATION,ORGANIZATION,"[NNP, NNP, CD, ,, NNP, CD]","[ORGANIZATION, ORGANIZATION, NUMBER, O, ORGANI...","[2, 0, 2, 2, 2, 5]","[compound, ROOT, nummod, punct, appos, nummod]"
46757,61b3a65fb9080a05b4ee,15df2fc6a9a895432237cb2bdfcbd1b5,no_relation,"[Thomas, ', assertion, of, 85, %, reporters, v...",41,43,31,31,ORGANIZATION,DATE,"[NNP, POS, NN, IN, CD, NN, NNS, VBP, JJ, VBZ, ...","[PERSON, O, O, O, PERCENT, PERCENT, O, O, MISC...","[3, 1, 8, 7, 6, 7, 3, 0, 12, 12, 12, 8, 12, 18...","[nmod:poss, case, nsubj, case, compound, amod,..."
36591,61b3a65fb9883fc52f01,274e368f381c1476fe0da7f201bfc331,no_relation,"[Kerry, did, his, duty, and, did, it, well, .]",2,2,0,0,PERSON,PERSON,"[NNP, VBD, PRP$, NN, CC, VBD, PRP, RB, .]","[PERSON, O, O, O, O, O, O, O, O]","[2, 0, 4, 2, 2, 2, 6, 6, 2]","[nsubj, ROOT, nmod:poss, dobj, cc, conj, dobj,..."
22262,61b3a65fb937b50fc05a,409fa10efff702a41701bdddab89a2dd,no_relation,"[This, August, ,, Moschella, 's, name, came, u...",17,20,39,40,ORGANIZATION,STATE_OR_PROVINCE,"[DT, NNP, ,, NNP, POS, NN, VBD, RP, IN, DT, NN...","[DATE, DATE, O, PERSON, O, O, O, O, O, O, O, O...","[2, 0, 2, 6, 4, 7, 2, 7, 11, 11, 7, 15, 15, 15...","[det, ROOT, punct, nmod:poss, case, nsubj, acl..."
644,61b3a5f2e85a8088c7bb,78d7e406b6911492f6f7f122d1f112ad,org:top_members/employees,"[Sharpton, is, president, of, the, National, A...",5,7,0,0,ORGANIZATION,PERSON,"[NNP, VBZ, NN, IN, DT, NNP, NNP, NNP, .]","[PERSON, O, O, O, O, ORGANIZATION, ORGANIZATIO...","[3, 3, 0, 8, 8, 8, 8, 3, 3]","[nsubj, cop, ROOT, case, det, compound, compou..."

In [59]:
def to_label_id(series):
    return label_to_ids_map[series]

train_df_bert = pd.DataFrame({
    'id':range(len(train_df)),
    'label': train_df['relation'].apply(to_label_id),
    'alpha':['a']*train_df.shape[0],
    'text': train_df['token']
})

train_df_bert['label'].unique()

array([15,  0,  9,  6, 16, 18,  3,  5, 29, 11, 39, 37, 13,  1,  4, 27, 32,
       22, 21, 28, 40, 33,  7,  2,  8, 25, 24, 23, 10, 14, 38, 35, 20, 31,
       17, 26, 12, 34, 30, 36, 19, 41], dtype=int64)

In [51]:
dev_df_bert = pd.DataFrame({
    'id':range(len(test_df)),
    'label': test_df['relation'].apply(to_label_id),
    'alpha':['a']*test_df.shape[0],
    'text': test_df['token']
})

dev_df_bert.head()

   id  label alpha                                               text
0   0      0     a  [He, has, served, as, a, policy, aide, to, the...
1   1      0     a  [Messina, Denaro, has, been, trying, to, impos...
2   2      0     a  [Eugenio, Vagni, ,, the, Italian, worker, of, ...
3   3      0     a  [With, his, perfect, English, and, British, ed...
4   4      0     a  [Twenty, percent, of, those, surveyed, in, 10,...

In [52]:
train_df_bert.to_csv('data/train.tsv', sep='\t', index=False, header=False)

In [53]:
dev_df_bert.to_csv('data/dev.tsv', sep='\t', index=False, header=False)